In [1]:
import mysql.connector as c

In [2]:
import pandas as pd

In [3]:
connection = c.connect(host= "localhost",user= "root", database = "multi_spe_hospital")

In [4]:
cursor = connection.cursor()

In [5]:
query2 = "select * from patients"

In [6]:
# executing cursor
cursor.execute(query2)

In [7]:
# fetching tables
table_rows = cursor.fetchall()
print("Total Number of rows in table:", cursor.rowcount)

Total Number of rows in table: 5

In [8]:
df = pd.read_sql('SELECT * FROM patients', con=connection)  # fitting into pandas dataframe
df.set_index(['CUSTOMER_ID'], inplace=True)  # setting default index

In [9]:
df

,CUSTOMER_NAME,CUSTOMER_OPEN_DATE,LAST_CONSULTED_DATE,VACCINATION_TYPE,DOCTOR_CONSULTED,STATE,COUNTRY,DOB,FLAG
CUSTOMER_ID,,,,,,,,,
123457,Alex,2010-10-12,2012-10-13,MVD,Paul,SA,USA,1987-03-06,A
1256,Jacob,2010-10-12,2012-10-13,MVD,,VIC,AU,1987-03-06,A
123458,John,2010-10-12,2012-10-13,MVD,,TN,IND,1987-03-06,A
123459,Mathew,2010-10-12,2012-10-13,MVD,,WAS,PHIL,1987-03-06,A
12345,Matt,2010-10-12,2012-10-13,MVD,,BOS,NYC,1987-03-06,A

In [10]:
def show_data(country):
    data = df.loc[df['COUNTRY'] == country]
    print(data)

In [11]:
def get_file(country):
    data = df.loc[df['COUNTRY'] == country]
    file_name = str(country)
    data.to_csv('C:/Users/prate/Table_' + country + ".csv")  # replace path with your desired path
    print("File has been created to the specified path")

In [12]:
# calling functions

df1= show_data("IND")
get_file("IND")

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
123458               John         2010-10-12          2012-10-13

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
123458                   MVD                     TN     IND  1987-03-06    A
File has been created to the specified path

In [13]:
show_data("NYC")
get_file("NYC")

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
12345                Matt         2010-10-12          2012-10-13

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
12345                    MVD                    BOS     NYC  1987-03-06    A
File has been created to the specified path

In [14]:
show_data("USA")
get_file("USA")

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
123457               Alex         2010-10-12          2012-10-13

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
123457                   MVD             Paul    SA     USA  1987-03-06    A
File has been created to the specified path

In [15]:
show_data("PHIL")
get_file("PHIL")

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
123459             Mathew         2010-10-12          2012-10-13

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
123459                   MVD                    WAS    PHIL  1987-03-06    A
File has been created to the specified path

In [16]:
show_data("AU")
get_file("AU")

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
1256                Jacob         2010-10-12          2012-10-13

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
1256                     MVD                    VIC      AU  1987-03-06    A
File has been created to the specified path